* {
  background-color: #282c34;
  margin: 0;
  padding: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  letter-spacing: 2px;
}

.app {
  align-items: center;
  display: inline;
  margin: auto;
  text-align: center;
}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.border {
  border: 6px solid black;
  border-radius: 8px;
  width: 400px;
  height: 200px;
  margin: auto;
}

.inner-border {
  border: 2px solid gray;
  border-radius: 8px;
  height: 98%;
  padding: 1px;
  margin: 0;
  background-color: black;
}

.time {
  font-size: 64px;
  text-align: center;
  margin: auto;
  padding-top: 50px;
  color: darkred;
  background-color: black;
}

.date {
  font-size: 48px;
  margin: 200px 0 0;
  text-align: center;
  padding-bottom: 5px;
  color: whitesmoke;
}